# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries by Data Scientists</li>
    <li>List of Data Science Tools</li>
    <li>Simple Arithmetic Operations</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>SciPy</li>
</ol>

| Data Science Tools |
| --- |
| RStudio |
| Jupyter Notebooks |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5.

17.0

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Pari Vinod Chhoriya